<mat-list role="list" class="px-6">
  <mat-list-item
    role="listitem"
    *ngFor="let catalog of catalogList$ | async"
    matRipple
    [matRippleTrigger]="rippleTrigger"
    class="cursor-pointer bg-white mb-4 border-solid border rounded-lg border-indigo-200 shadow-md shadow-indigo-200/30"
  >
    <div class="flex w-full items-center">
      <button mat-icon-button color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div #rippleTrigger class="ml-4 flex-1 text-indigo-900">
        {{ catalog.name }}
      </div>
    </div>
  </mat-list-item>
</mat-list>
