<div mat-dialog-content>
  <app-product-form
    #productForm
    (submitProduct)="saveButton.click()"
  ></app-product-form>
</div>
<div mat-dialog-actions class="flex justify-between">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="productForm.newCatalogItem"
    cdkFocusInitial
    [disabled]="!productForm?.newCatalogItem?.name"
  >
    Save
  </button>
  <button
    #saveButton
    class="hidden"
    [mat-dialog-close]="productForm.newCatalogItem"
  ></button>
</div>
