<form (ngSubmit)="submitForm()" class="flex gap-2 mt-4">
  <mat-form-field class="min-w-0 flex-1">
    <mat-label>Add new product*</mat-label>
    <input name="name" matInput [(ngModel)]="newCatalogItem.name" #nameInput />
  </mat-form-field>

  <mat-form-field class="w-16">
    <mat-label>Quantity</mat-label>
    <input
      name="quantity"
      type="number"
      matInput
      [(ngModel)]="newCatalogItem.quantity"
    />
  </mat-form-field>

  <mat-form-field class="w-20">
    <mat-label>Unit</mat-label>
    <input name="unit" matInput [(ngModel)]="newCatalogItem.unit" />
  </mat-form-field>

  <input type="submit" hidden />
</form>
