<div mat-dialog-content>
  <form (ngSubmit)="saveButton.click()">
    <mat-form-field>
      <mat-label>New list name</mat-label>
      <input name="name" matInput [(ngModel)]="data.name" cdkFocusInitial />
    </mat-form-field>
    <input type="submit" hidden />
  </form>
</div>
<div mat-dialog-actions class="flex justify-between">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data.name"
    cdkFocusInitial
    [disabled]="!data.name"
  >
    Add
  </button>
  <button #saveButton class="hidden" [mat-dialog-close]="data.name"></button>
</div>
